<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Navbar brand/logo -->
        <a class="navbar-brand" href="#">Evaluation Page</a>
        <!-- Navbar toggler for responsive design -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Course link -->
                <li class="nav-item ml-auto">
                  <% if user_signed_in? %>
                    <%= link_to "Course Catalog", course_view_path, method: :get, class: 'nav-link' %>
                  <% end %>
                </li>
            </ul>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
              <ul class="navbar-nav">
                <li class="nav-item">
                   <% if user_signed_in? %> 
                        <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete }, class: 'nav-link' %>
                   <% end %>
                </li>
              </ul>
            </div>
        </div>
    </div>
</nav>

<body>
  <div class="container">
    <div class="d-flex flex-column">
      <h3 class="font-weight-bold" style="font-family:sans-serif; margin-top: 10px;">Evaluations: &nbsp;</h3>
        <%#Admin can approve users %>
        <table class="table table-sm ml-4 table-striped" style="max-width: 65rem; margin-bottom: 75px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Instructor ID</th>
                    <th scope="col">Garder ID</th>
                    <th scope="col">Course ID</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Comments</th>
                </tr>
            </thead>
            <tbody>
                <% @evaluations.each do |evaluation| %>
                  <tr>
                    <td><%= evaluation.instructor_id%></td>
                    <td><%= evaluation.grader_id %></td>
                    <td><%= evaluation.course_id %></td>
                    <td><%= evaluation.rating %></td>
                    <td><%= evaluation.comments %></td>
                  </tr>
                <% end %>
            </tbody>
        </table>
    </div>
  </div>
</body>